venv/
.venv/
source/.venv/
__pycache__/
*.pyc
*.log

source/data/logs/*
!source/data/logs/.gitkeep
source/data/reports/*
!source/data/reports/.gitkeep
source/data/snapshots/*
!source/data/snapshots/.gitkeep

# PyInstaller / Build
build/
dist/
_internal/
*.spec

# Binaries
*.dll
*.pak
*.bin
*.exe
*.so

# DB
*.db
*.sqlite

# Videos (if any)
*.mp4
*.avi
*.mkv

# Archives
*.zip
*.tar
*.tar.gz
*.7z

# VSCode
.vscode/
